*.key
*.yaml
*/*.7z
*/*.apk
*/*.asc
*/*.cer
*/*.crt
*/*.csr
*/*.db
*/*.db3
*/*.der
*/*.dll
*/*.dmg
*/*.dylib
*/*.egg
*/*.egg-info
*/*.exe
*/*.gpg
*/*.ipa
*/*.iso
*/*.jks
*/*.json
!website/package.json
!website/tsconfig.json
*/*.kdbx
*/*.keytab
*/*.log
*/*.p12
*/*.p7b
*/*.p7c
*/*.pcap
*/*.pcapng
*/*.pcapng.gz
*/*.pem
*/*.pfx
*/*.pgp
*/*.rar
*/*.so
*/*.sops.yaml
*/*.sops.yml
*/*.sqlite
*/*.sqlite3
*/*.tar.gz
*/*.tgz
*/*.whl
*/*.zip
*/password.txt 
*secret*
.idea/
id_rsa*
venv/
client/web/apps/.service/*/*
client/web/apps/.service/*/*/*
client/web/apps/.service/*
*/*.storage
*/*.log
*/*.table
*/*.bak
*/*.pyc
client/web/apps/__pycache__/*.pyc

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
!website/package-lock.json
yarn.lock
.pnpm-debug.log
.env
.env.*.local

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.cache
.pytest_cache/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
*.manifest
*.spec

# Go
bin/
*.exe
*.test
*.out
*.mod
*.sum
vendor/
coverage.out
go-client/test-dist/

# Next.js
.next/
.vercel/

*.log

.REQUIREMENTS